__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
dist/
build/
.pytest_cache/
.coverage*
htmlcov/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.env
.DS_Store
.idea/
.vscode/
coverage.xml
pytest.ini
pip-wheel-metadata/
