{"swagger": "2.0", "info": {"title": "Snippets API", "description": "Test description", "termsOfService": "https://www.google.com/policies/terms/", "contact": {"email": "contact@snippets.local"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "apilogistics.ems.com.vn:8080", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Auth Token eg [Bearer (JWT) ]": {"in": "header", "name": "Authorization", "type": "apiKey"}}, "security": [{"Auth Token eg [Bearer (JWT) ]": []}], "paths": {"/customer/info": {"get": {"operationId": "customer_info_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/login": {"post": {"operationId": "customer_login_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CustomerLogin"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CustomerLogin"}}}, "tags": ["customer"]}, "parameters": []}, "/customer/order/create-single": {"post": {"operationId": "customer_order_create-single_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateOrderSingle"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateOrderSingle"}}}, "tags": ["customer"]}, "parameters": []}, "/customer/order/list": {"get": {"operationId": "customer_order_list_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/register": {"post": {"operationId": "customer_register_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CustomerRegistration"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CustomerRegistration"}}}, "tags": ["customer"]}, "parameters": []}, "/driver/device-token/delete": {"post": {"operationId": "driver_device-token_delete_create", "description": "", "parameters": [], "responses": {"200": {"description": "save device token success", "examples": {"application/json": {"messages": "L\u01b0u device token th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "save device token fail", "examples": {"application/json": {"messages": "L\u01b0u device token th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["driver"]}, "parameters": []}, "/driver/device-token/save": {"post": {"operationId": "driver_device-token_save_create", "description": "", "parameters": [], "responses": {"200": {"description": "save device token success", "examples": {"application/json": {"messages": "L\u01b0u device token th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "save device token fail", "examples": {"application/json": {"messages": "L\u01b0u device token th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["driver"]}, "parameters": []}, "/driver/edit": {"post": {"operationId": "driver_edit_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Edit"}}], "responses": {"200": {"description": "update success", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "update-fail", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["driver"]}, "parameters": []}, "/driver/get-user": {"get": {"operationId": "driver_get-user_list", "description": "", "parameters": [], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": {"avatar": "string", "email": "string", "fullname": "string", "phone": "string"}, "status": 200}}}}, "tags": ["driver"]}, "parameters": []}, "/driver/location": {"post": {"operationId": "driver_location_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateLocation"}}], "responses": {"200": {"description": "update success", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "update-fail", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["driver"]}, "parameters": []}, "/driver/login": {"post": {"operationId": "driver_login_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserLogin"}}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"email": "string", "refresh_token": "string", "status": 200, "token": "string"}}}}, "tags": ["driver"]}, "parameters": []}, "/driver/reset-password": {"post": {"operationId": "driver_reset-password_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResetPassword"}}], "responses": {"200": {"description": "reset password success", "examples": {"application/json": {"messages": "\u0110\u1eb7t m\u1eadt kh\u1ea9u m\u1edbi th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "reset password fail", "examples": {"application/json": {"messages": "\u0110\u1eb7t m\u1eadt kh\u1ea9u m\u1edbi th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["driver"]}, "parameters": []}, "/driver/token/refresh": {"post": {"operationId": "driver_token_refresh_create", "description": "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TokenRefresh"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TokenRefresh"}}}, "tags": ["driver"]}, "parameters": []}, "/driver/verify/check": {"post": {"operationId": "driver_verify_check_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CheckVerifyCode"}}], "responses": {"200": {"description": "verify success", "examples": {"application/json": {"messages": "X\u00e1c th\u1ef1c th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "verify fail", "examples": {"application/json": {"messages": "C\u00f3 l\u1ed7i x\u1ea3y ra, h\u00e3y li\u00ean h\u1ec7 v\u1edbi Qu\u1ea3n tr\u1ecb vi\u00ean", "status": 400}}}}, "tags": ["driver"]}, "parameters": []}, "/driver/verify/send": {"post": {"operationId": "driver_verify_send_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SendVerifyCode"}}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"messages": "G\u1eedi m\u00e3 x\u00e1c th\u1ef1c th\u00e0nh c\u00f4ng", "status": 200}}}}, "tags": ["driver"]}, "parameters": []}, "/faq/create": {"post": {"operationId": "faq_create_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateFaq"}}], "responses": {"200": {"description": "create faq success", "examples": {"application/json": {"messages": "T\u1ea1o c\u00e2u h\u1ecfi th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "create faq fail", "examples": {"application/json": {"messages": "T\u1ea1o c\u00e2u h\u1ecfi th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["faq"]}, "parameters": []}, "/faq/get-faq": {"get": {"operationId": "faq_get-faq_list", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": true, "type": "integer"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": {"answer": "C\u00e2u tr\u1ea3 l\u1eddi", "answer_status": "not-answered", "code": "TM000487", "content": "n\u1ed9i dung c\u00e2u h\u1ecfi", "created_at": "2021-08-25T11:30:49.343134+07:00", "id": 487, "is_deleted": false, "ship_code": "53000641", "title": "Title c\u00e2u h\u1ecfi", "updated_at": "2021-08-25T11:30:49.603480+07:00"}, "status": 200}}}}, "tags": ["faq"]}, "parameters": []}, "/faq/get-list-faq": {"get": {"operationId": "faq_get-list-faq_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "limit", "required": true, "type": "integer"}, {"name": "offset", "in": "query", "description": "offset", "required": true, "type": "integer"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": [{"answer": "", "answer_status": "not-answered", "code": "TM000496", "content": "n\u1ecdi dung c\u00e2u h\u1ecfi", "created_at": "2021-08-25T14:50:26.819610+07:00", "id": 496, "is_deleted": false, "ship_code": "1111", "title": "C\u00e2u h\u1ecfi 496", "updated_at": "2021-08-25T14:50:26.852968+07:00"}, {"answer": "", "answer_status": "not-answered", "code": "TM000495", "content": "n\u1ecdi dung c\u00e2u h\u1ecfi", "created_at": "2021-08-25T14:49:34.512089+07:00", "id": 495, "is_deleted": false, "ship_code": "", "title": "C\u00e2u h\u1ecfi 495", "updated_at": "2021-08-25T14:49:34.540540+07:00"}, {"answer": "", "answer_status": "not-answered", "code": "TM000494", "content": "n\u1ecdi dung c\u00e2u h\u1ecfi", "created_at": "2021-08-25T14:39:53.275103+07:00", "id": 494, "is_deleted": false, "ship_code": "", "title": "C\u00e2u h\u1ecfi 494", "updated_at": "2021-08-25T14:39:53.333398+07:00"}], "status": 200}}}}, "tags": ["faq"]}, "parameters": []}, "/notification/badge": {"get": {"operationId": "notification_badge_list", "description": "", "parameters": [], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"badge": 0, "status": 200}}}}, "tags": ["notification"]}, "parameters": []}, "/notification/list": {"get": {"operationId": "notification_list_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "limit", "required": true, "type": "integer"}, {"name": "offset", "in": "query", "description": "offset", "required": true, "type": "integer"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": [{"body": "B\u1ea1n \u0111\u01b0\u1ee3c y\u00eau c\u1ea7u v\u1eadn chuy\u1ec3n chuy\u1ebfn h\u00e0ng CH000586, th\u1eddi gian giao h\u00e0ng t\u1eeb 2021-08-25 \u0111\u1ebfn 2021-08-30", "created_at": "2021-08-25T14:50:26.819610+07:00", "faq_id": "", "id": 527, "is_deleted": false, "is_seen": false, "shipment_id": 586, "title": "Chuy\u1ebfn h\u00e0ng c\u1ea7n v\u1eadn chuy\u1ec3n", "type": "full_shipment", "updated_at": "2021-08-25T14:50:26.852968+07:00"}, {"body": "root \u0111\u00e3 tr\u1ea3 l\u1eddi c\u00e2u h\u1ecfi c\u1ee7a b\u1ea1n", "created_at": "2021-08-25T14:50:26.819610+07:00", "faq_id": 492, "id": 496, "is_deleted": false, "is_seen": false, "shipment_id": "", "title": "Gi\u1ea3i \u0111\u00e1p th\u1eafc m\u1eafc", "type": "question", "updated_at": "2021-08-25T14:50:26.852968+07:00"}], "status": 200}}}}, "tags": ["notification"]}, "parameters": []}, "/notification/read": {"post": {"operationId": "notification_read_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/GetById"}}], "responses": {"200": {"description": "read notification success", "examples": {"application/json": {"messages": "\u0111\u1ecdc th\u00f4ng b\u00e1o th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "read-notification-fail", "examples": {"application/json": {"messages": "\u0111\u1ecdc th\u00f4ng b\u00e1o th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["notification"]}, "parameters": []}, "/order/detail": {"get": {"operationId": "order_detail_list", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": true, "type": "integer"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": {"detail": [{"note": "note 123 note456", "order_departure": {"created_at": "2021-08-25T06:36:26.695Z", "departure_detail_address": "11", "departure_district": "5310", "departure_province": "53", "departure_reference_code_1": "", "departure_reference_code_2": "", "departure_ward": "53415", "id": 634, "is_deleted": false, "order_id": 633, "phone_number_departure": "2352352352", "sender_name": "Thanh Thanh 1", "ship_code": "", "updated_at": "2021-08-25T06:44:35.265Z"}, "order_destination": {"created_at": "2021-08-25T06:36:26.699Z", "destination_detail_address": "22", "destination_district": "5574", "destination_province": "55", "destination_ward": "55764", "id": 651, "is_deleted": false, "order_id": 633, "phone_number_destination": "3656563563", "receiver_name": "Thanh Thanh 2", "reference_code_1": "", "reference_code_2": "", "ship_code": "", "updated_at": "2021-08-25T06:44:35.268Z"}, "order_goods": [{"actual_volume": 50.0, "charge_volume": null, "created_at": "2021-08-25T06:44:35.307Z", "id": 972, "is_deleted": false, "name_of_order_goods": "H\u00e0ng ho\u00e1 test 1", "order_departure_id": 634, "order_destination_id": 651, "order_goods_height": 10, "order_goods_length": 15, "order_goods_width": 15, "order_id": 633, "quantity": 1, "type_of_order_goods": "0", "updated_at": "2021-08-25T06:44:35.307Z", "volume_conversion": 30.0}, {"actual_volume": 60.0, "charge_volume": null, "created_at": "2021-08-25T06:44:35.307Z", "id": 973, "is_deleted": false, "name_of_order_goods": "H\u00e0ng ho\u00e1 test 2", "order_departure_id": 634, "order_destination_id": 651, "order_goods_height": 20, "order_goods_length": 25, "order_goods_width": 25, "order_id": 633, "quantity": 2, "type_of_order_goods": "1", "updated_at": "2021-08-25T06:44:35.307Z", "volume_conversion": 40.0}], "time": {"delivery_time": "2021-08-25", "received_time": "2021-08-30"}}], "order": {"created_at": "2021-08-25T06:36:26.691Z", "creator_id": 1, "customer_id": 61, "id": 633, "is_deleted": false, "note": "note 123\r\nnote456", "order_code": "DH000633", "ship_code": "53000633", "shipment_collect_revenue": "83448", "shipment_delivery_revenue": "199137", "shipment_hub_revenue": "302500", "shipment_id": 591, "shipment_type": "transport", "status": "completed", "type": "single", "updated_at": "2021-08-25T06:44:35.261Z", "warehouse_detail_address": "55", "warehouse_district": "5573", "warehouse_location": "55, Ho\u00e0ng Sa, Ho\u00e0ng Sa, \u0110\u00e0 N\u1eb5ng", "warehouse_province": "55", "warehouse_ward": "55730"}}, "status": 200}}}}, "tags": ["order"]}, "parameters": []}, "/order/get-all-status": {"get": {"operationId": "order_get-all-status_list", "description": "", "parameters": [], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": [{"key": "pending", "status": "Ch\u01b0a gi\u1ea3i quy\u1ebft"}, {"key": "processing", "status": "\u0110ang x\u1eed l\u00fd"}, {"key": "fake", "status": "Phi\u1ebfu kh\u1ed1ng"}, {"key": "processed", "status": "\u0110\u00e3 \u0111\u01b0\u1ee3c x\u1eed l\u00fd"}, {"key": "collecting", "status": "\u0110ang thu gom"}, {"key": "cancelled", "status": "B\u1ecb h\u1ee7y b\u1ecf"}, {"key": "collected", "status": "\u0110\u00e3 thu gom"}, {"key": "hub-shipping", "status": "\u0110ang v\u1eadn chuy\u1ec3n tr\u1ee5c"}, {"key": "hub-shipped", "status": "\u0110\u00e3 v\u1eadn chuy\u1ec3n tr\u1ee5c"}, {"key": "delivering", "status": "\u0110ang giao h\u00e0ng"}, {"key": "completed", "status": "Ho\u00e0n th\u00e0nh"}, {"key": "fail", "status": "Th\u1ea5t b\u1ea1i"}, {"key": "returned", "status": "Chuy\u1ec3n ho\u00e0n"}, {"key": "expired", "status": "H\u1ebft h\u1ea1n"}], "status": 200}}}}, "tags": ["order"]}, "parameters": []}, "/order/get-status": {"get": {"operationId": "order_get-status_list", "description": "", "parameters": [{"name": "shipment_id", "in": "query", "description": "shipment_id", "required": true, "type": "integer"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": [{"key": "hub-shipped", "status": "\u0110\u00e3 v\u1eadn chuy\u1ec3n tr\u1ee5c"}, {"key": "fail", "status": "Th\u1ea5t b\u1ea1i"}], "status": 200}}}}, "tags": ["order"]}, "parameters": []}, "/order/list-license": {"get": {"operationId": "order_list-license_list", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": true, "type": "integer"}, {"name": "order_departure_id", "in": "query", "description": "order_departure_id", "required": true, "type": "integer"}, {"name": "order_destination_id", "in": "query", "description": "order_destination_id", "required": true, "type": "integer"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": [{"name": "Agile Tester Extension Sample Exams #2.pdf", "url": "http://localhost:8003/media/3b6b7761-8695-4e9f-b926-b7f544b92d31.pdf"}, {"name": "670172015.jpeg", "url": "http://localhost:8003/media/61a58659-24d0-4196-86aa-4a31165bd070.jpeg"}], "status": 200}}}}, "tags": ["order"]}, "parameters": []}, "/order/update-status": {"post": {"operationId": "order_update-status_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateStatus"}}], "responses": {"200": {"description": "update success", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "update-fail", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["order"]}, "parameters": []}, "/order/upload-license": {"post": {"operationId": "order_upload-license_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UploadLicense"}}], "responses": {"200": {"description": "update success", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "update-fail", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["order"]}, "parameters": []}, "/shipment/detail": {"get": {"operationId": "shipment_detail_list", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": true, "type": "integer"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": {"contractor": 4, "created_at": "2021-08-25T15:04:03.058432+07:00", "customer": null, "departure_detail_address": "\u0110\u1ecba ch\u1ec9 kho B", "departure_district": "5510", "departure_province": "55", "departure_ward": "55205", "destination_detail_address": "", "destination_district": "", "destination_province": "", "destination_ward": "", "id": 594, "is_deleted": false, "order_shipment": [{"id": 919, "order_detail": [{"id": 640, "order_code": "DH000640", "order_departure": [{"created_at": "2021-08-25T13:52:41.195760+07:00", "departure_detail_address": "\u0110\u1ecba ch\u1ec9 chi ti\u1ebft 5", "departure_district": "5357", "departure_province": "53", "departure_reference_code_1": "", "departure_reference_code_2": "", "departure_ward": "53585", "id": 642, "is_deleted": false, "order": 640, "phone_number_departure": "0905444445", "sender_name": "V\u00f5 Ho\u00e0ng L\u00e2n 1", "ship_code": "", "updated_at": "2021-08-25T13:53:00.663629+07:00"}], "order_destination": [{"created_at": "2021-08-25T13:52:41.199284+07:00", "destination_detail_address": "\u0110\u1ecba ch\u1ec9 chi ti\u1ebft 2", "destination_district": "5574", "destination_province": "55", "destination_ward": "55764", "id": 658, "is_deleted": false, "order": 640, "phone_number_destination": "0905111111", "receiver_name": "H\u1ed3ng Thanh 1", "reference_code_1": "", "reference_code_2": "", "ship_code": "", "updated_at": "2021-08-25T13:53:00.666453+07:00"}], "order_goods": [{"actual_volume": 100.0, "charge_volume": null, "created_at": "2021-08-25T13:53:00.692886+07:00", "id": 981, "is_deleted": false, "name_of_order_goods": "V\u00e0ng 999", "order": 640, "order_departure": 642, "order_destination": 658, "order_goods_height": 10, "order_goods_length": 10, "order_goods_width": 10, "quantity": 10, "type_of_order_goods": "0", "updated_at": "2021-08-25T13:53:00.692928+07:00", "volume_conversion": 100.0}], "order_shipping_detail": [{"actual_volume": "100kg - 300kg", "billboard_price_selected": 50000, "created_at": "2021-08-25T13:52:41.202811+07:00", "delivery_time": "2021-08-25", "fee_table": "421", "id": 679, "is_deleted": false, "license_file": "", "note": "", "order": 640, "order_departure": 642, "order_destination": 658, "received_time": "2021-08-26", "reference_code_1": "", "reference_code_2": "", "revenue": "50000", "shipping_method": "1", "shipping_type": "2", "total_surcharge_price": 0, "total_volume": null, "updated_at": "2021-08-25T13:53:00.673134+07:00"}], "ship_code": "53000640", "shipment_id": 594, "status": "completed", "type": "single"}]}], "phone_number_departure": "0905444441", "phone_number_destination": "", "receiver_name": "", "sender_name": "Kho B", "ship_code": "CH000594", "shipment_detail": [{"delivery_time": "2021-08-26", "note": "noteeeeeeeeeeeee", "received_time": "2021-08-25"}], "status": "delivered", "type": "delivery", "updated_at": "2021-08-25T17:25:04.635838+07:00"}, "status": 200}}}}, "tags": ["shipment"]}, "parameters": []}, "/shipment/get-all-status": {"get": {"operationId": "shipment_get-all-status_list", "description": "", "parameters": [], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": [{"key": "fake", "status": "Phi\u1ebfu kh\u1ed1ng"}, {"key": "processed", "status": "\u0110\u00e3 \u0111\u01b0\u1ee3c x\u1eed l\u00fd"}, {"key": "collecting", "status": "\u0110ang thu gom"}, {"key": "cancelled", "status": "B\u1ecb h\u1ee7y b\u1ecf"}, {"key": "collected", "status": "\u0110\u00e3 thu gom"}, {"key": "hub-shipping", "status": "\u0110ang v\u1eadn chuy\u1ec3n tr\u1ee5c"}, {"key": "hub-shipped", "status": "\u0110\u00e3 v\u1eadn chuy\u1ec3n tr\u1ee5c"}, {"key": "delivering", "status": "\u0110ang giao h\u00e0ng"}, {"key": "fail", "status": "Th\u1ea5t b\u1ea1i"}, {"key": "returned", "status": "Chuy\u1ec3n ho\u00e0n"}], "status": 200}}}}, "tags": ["shipment"]}, "parameters": []}, "/shipment/get-status": {"get": {"operationId": "shipment_get-status_list", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": true, "type": "integer"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": [{"key": "hub-shipped", "status": "\u0110\u00e3 v\u1eadn chuy\u1ec3n tr\u1ee5c"}, {"key": "fail", "status": "Th\u1ea5t b\u1ea1i"}], "status": 200}}}}, "tags": ["shipment"]}, "parameters": []}, "/shipment/list": {"get": {"operationId": "shipment_list_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "limit", "required": true, "type": "integer"}, {"name": "offset", "in": "query", "description": "offset", "required": true, "type": "integer"}, {"name": "from_time", "in": "query", "description": "from_time", "required": true, "type": "date"}, {"name": "to_time", "in": "query", "description": "to_time", "required": true, "type": "date"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": [{"contractor": 4, "created_at": "2021-08-25T15:04:03.058432+07:00", "customer": null, "departure_detail_address": "\u0110\u1ecba ch\u1ec9 kho B", "departure_district": "5510", "departure_province": "55", "departure_ward": "55205", "destination_detail_address": "", "destination_district": "", "destination_province": "", "destination_ward": "", "id": 594, "is_deleted": false, "order_shipment": [{"id": 919, "order_detail": [{"id": 640, "order_code": "DH000640", "order_departure": [{"created_at": "2021-08-25T13:52:41.195760+07:00", "departure_detail_address": "\u0110\u1ecba ch\u1ec9 chi ti\u1ebft 5", "departure_district": "5357", "departure_province": "53", "departure_reference_code_1": "", "departure_reference_code_2": "", "departure_ward": "53585", "id": 642, "is_deleted": false, "order": 640, "phone_number_departure": "0905444445", "sender_name": "V\u00f5 Ho\u00e0ng L\u00e2n 1", "ship_code": "", "updated_at": "2021-08-25T13:53:00.663629+07:00"}], "order_destination": [{"created_at": "2021-08-25T13:52:41.199284+07:00", "destination_detail_address": "\u0110\u1ecba ch\u1ec9 chi ti\u1ebft 2", "destination_district": "5574", "destination_province": "55", "destination_ward": "55764", "id": 658, "is_deleted": false, "order": 640, "phone_number_destination": "0905111111", "receiver_name": "H\u1ed3ng Thanh 1", "reference_code_1": "", "reference_code_2": "", "ship_code": "", "updated_at": "2021-08-25T13:53:00.666453+07:00"}], "order_goods": [{"actual_volume": 100.0, "charge_volume": null, "created_at": "2021-08-25T13:53:00.692886+07:00", "id": 981, "is_deleted": false, "name_of_order_goods": "V\u00e0ng 999", "order": 640, "order_departure": 642, "order_destination": 658, "order_goods_height": 10, "order_goods_length": 10, "order_goods_width": 10, "quantity": 10, "type_of_order_goods": "0", "updated_at": "2021-08-25T13:53:00.692928+07:00", "volume_conversion": 100.0}], "order_shipping_detail": [{"actual_volume": "100kg - 300kg", "billboard_price_selected": 50000, "created_at": "2021-08-25T13:52:41.202811+07:00", "delivery_time": "2021-08-25", "fee_table": "421", "id": 679, "is_deleted": false, "license_file": "", "note": "", "order": 640, "order_departure": 642, "order_destination": 658, "received_time": "2021-08-26", "reference_code_1": "", "reference_code_2": "", "revenue": "50000", "shipping_method": "1", "shipping_type": "2", "total_surcharge_price": 0, "total_volume": null, "updated_at": "2021-08-25T13:53:00.673134+07:00"}], "ship_code": "53000640", "shipment_id": 594, "status": "completed", "type": "single"}]}], "phone_number_departure": "0905444441", "phone_number_destination": "", "receiver_name": "", "sender_name": "Kho B", "ship_code": "CH000594", "shipment_detail": [{"delivery_time": "2021-08-26", "note": "noteeeeeeeeeeeee", "received_time": "2021-08-25"}], "status": "delivered", "type": "delivery", "updated_at": "2021-08-25T17:25:04.635838+07:00"}], "status": 200}}}}, "tags": ["shipment"]}, "parameters": []}, "/shipment/list-license": {"get": {"operationId": "shipment_list-license_list", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": true, "type": "integer"}], "responses": {"200": {"description": "custom 200 description", "examples": {"application/json": {"data": [{"name": "Agile Tester Extension Sample Exams #2.pdf", "url": "http://localhost:8003/media/3b6b7761-8695-4e9f-b926-b7f544b92d31.pdf"}, {"name": "670172015.jpeg", "url": "http://localhost:8003/media/61a58659-24d0-4196-86aa-4a31165bd070.jpeg"}], "status": 200}}}}, "tags": ["shipment"]}, "parameters": []}, "/shipment/upload-license": {"post": {"operationId": "shipment_upload-license_create", "description": "", "parameters": [], "responses": {"200": {"description": "update success", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u00e0nh c\u00f4ng", "status": 200}}}, "400": {"description": "update-fail", "examples": {"application/json": {"messages": "C\u1eadp nh\u1eadt th\u1ea5t b\u1ea1i", "status": 400}}}}, "tags": ["shipment"]}, "parameters": []}, "/terms-url": {"get": {"operationId": "terms-url_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["terms-url"]}, "parameters": []}}, "definitions": {"CustomerLogin": {"required": ["email", "password"], "type": "object", "properties": {"email": {"title": "Email", "type": "string", "maxLength": 50, "minLength": 1}, "password": {"title": "Password", "type": "string", "maxLength": 50, "minLength": 8}, "token": {"title": "Token", "type": "string", "readOnly": true, "maxLength": 255, "minLength": 1}, "refresh_token": {"title": "Refresh token", "type": "string", "readOnly": true, "maxLength": 255, "minLength": 1}}}, "OrderGoods": {"required": ["name_of_order_goods", "quantity", "actual_volume"], "type": "object", "properties": {"name_of_order_goods": {"title": "Name of order goods", "type": "string", "maxLength": 255, "minLength": 1}, "order_goods_width": {"title": "Order goods width", "type": "number", "maximum": 1000000000}, "order_goods_height": {"title": "Order goods height", "type": "number", "maximum": 1000000000}, "order_goods_length": {"title": "Order goods length", "type": "number", "maximum": 1000000000}, "quantity": {"title": "Quantity", "type": "integer", "maximum": 1000000000, "minimum": 1}, "actual_volume": {"title": "Actual volume", "type": "number", "maximum": 1000000000}, "cost": {"title": "Cost", "type": "integer", "maximum": 1000000000, "minimum": 1}}}, "CreateOrderSingle": {"required": ["sender_name", "phone_number_departure", "departure_province", "departure_district", "departure_ward", "departure_detail_address", "receiver_name", "phone_number_destination", "destination_province", "destination_district", "destination_ward", "destination_detail_address", "order_goods"], "type": "object", "properties": {"sender_name": {"title": "Sender name", "type": "string", "maxLength": 255, "minLength": 1}, "phone_number_departure": {"title": "Phone number departure", "type": "string", "pattern": "^[0-9]*$", "maxLength": 11, "minLength": 10}, "departure_province": {"title": "Departure province", "type": "string", "minLength": 1}, "departure_district": {"title": "Departure district", "type": "string", "minLength": 1}, "departure_ward": {"title": "Departure ward", "type": "string", "minLength": 1}, "departure_detail_address": {"title": "Departure detail address", "type": "string", "maxLength": 200, "minLength": 1}, "receiver_name": {"title": "Receiver name", "type": "string", "maxLength": 255, "minLength": 1}, "phone_number_destination": {"title": "Phone number destination", "type": "string", "pattern": "^[0-9]*$", "maxLength": 11, "minLength": 10}, "destination_province": {"title": "Destination province", "type": "string", "minLength": 1}, "destination_district": {"title": "Destination district", "type": "string", "minLength": 1}, "destination_ward": {"title": "Destination ward", "type": "string", "minLength": 1}, "destination_detail_address": {"title": "Destination detail address", "type": "string", "maxLength": 200, "minLength": 1}, "note": {"title": "Note", "type": "string", "maxLength": 1000, "minLength": 1}, "order_goods": {"type": "array", "items": {"$ref": "#/definitions/OrderGoods"}}}}, "CustomerRegistration": {"required": ["email", "password", "fullname", "phone", "username"], "type": "object", "properties": {"email": {"title": "Email", "type": "string", "format": "email", "maxLength": 50, "minLength": 1}, "password": {"title": "Password", "type": "string", "maxLength": 50, "minLength": 8}, "fullname": {"title": "Fullname", "type": "string", "maxLength": 200, "minLength": 1}, "phone": {"title": "Phone", "type": "string", "pattern": "^[0-9]*$", "maxLength": 11, "minLength": 10}, "username": {"title": "Username", "type": "string", "maxLength": 18, "minLength": 6}}}, "Edit": {"required": ["phone", "fullname"], "type": "object", "properties": {"phone": {"title": "Phone", "type": "string", "pattern": "^[0-9]*$", "maxLength": 11, "minLength": 10}, "fullname": {"title": "Fullname", "type": "string", "maxLength": 255, "minLength": 1}, "avatar": {"title": "Avatar", "type": "string", "readOnly": true, "format": "uri"}}}, "UpdateLocation": {"required": ["latitude", "longitude"], "type": "object", "properties": {"latitude": {"title": "Latitude", "type": "number"}, "longitude": {"title": "Longitude", "type": "number"}}}, "UserLogin": {"required": ["email", "password"], "type": "object", "properties": {"email": {"title": "Email", "type": "string", "maxLength": 50, "minLength": 1}, "password": {"title": "Password", "type": "string", "maxLength": 50, "minLength": 8}, "token": {"title": "Token", "type": "string", "readOnly": true, "maxLength": 255, "minLength": 1}, "refresh_token": {"title": "Refresh token", "type": "string", "readOnly": true, "maxLength": 255, "minLength": 1}}}, "ResetPassword": {"required": ["email", "verify_code", "new_password"], "type": "object", "properties": {"email": {"title": "Email", "type": "string", "format": "email", "maxLength": 50, "minLength": 1}, "verify_code": {"title": "Verify code", "type": "string", "minLength": 1}, "new_password": {"title": "New password", "type": "string", "maxLength": 50, "minLength": 8}}}, "TokenRefresh": {"required": ["refresh"], "type": "object", "properties": {"refresh": {"title": "Refresh", "type": "string", "minLength": 1}}}, "CheckVerifyCode": {"required": ["verify_code"], "type": "object", "properties": {"verify_code": {"title": "Verify code", "type": "string", "minLength": 1}}}, "SendVerifyCode": {"required": ["email"], "type": "object", "properties": {"email": {"title": "Email", "type": "string", "format": "email", "maxLength": 50, "minLength": 1}}}, "CreateFaq": {"required": ["title", "content"], "type": "object", "properties": {"ship_code": {"title": "Ship code", "type": "string", "maxLength": 20, "minLength": 1}, "title": {"title": "Title", "type": "string", "maxLength": 200, "minLength": 1}, "content": {"title": "Content", "type": "string", "maxLength": 5000, "minLength": 1}}}, "GetById": {"required": ["id"], "type": "object", "properties": {"id": {"title": "Id", "type": "integer"}}}, "UpdateStatus": {"required": ["id", "new_status"], "type": "object", "properties": {"id": {"type": "array", "items": {"type": "integer"}}, "new_status": {"title": "New status", "type": "string", "minLength": 1}}}, "UploadLicense": {"required": ["id", "order_destination_id", "order_departure_id", "license"], "type": "object", "properties": {"id": {"title": "Id", "type": "integer"}, "order_destination_id": {"title": "Order destination id", "type": "integer"}, "order_departure_id": {"title": "Order departure id", "type": "integer"}, "license": {"type": "array", "items": {"type": "string", "readOnly": true, "format": "uri"}}}}}}