<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.emsportal" platformBuildVersionCode="31" platformBuildVersionName="12">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.emsportal.AppController" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme.NoActionBar">
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.report.cod.ReportParcelCODActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.report.cod.ListParcelCodActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.emsportal.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="true" android:launchMode="singleTop" android:name="com.emsportal.MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="MainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|uiMode" android:launchMode="singleTop" android:name="com.emsportal.user.activity.LogInActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.detail.DetailInventoryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.FilterActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.request.DetailRequestActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.request.CreateRequestActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.ScannerQACodeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.ScannerActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.user.activity.ListStoresActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.user.activity.CreateStoreActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.create.CreateInventoryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.DialogNotifiCreateInventorySuccessActivity" android:screenOrientation="portrait" android:theme="@style/DialogTheme"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.user.activity.ListAccountActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="true" android:launchMode="singleTop" android:name="com.emsportal.activity.SplashActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.DetailPromotionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.FilterStatiticsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.create.ConfirmInventoryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.CalculateFreightActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.FreightActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.detail.RoutePackageActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.detail.RouteDeliveredPackageActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.SettingNotificationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.user.activity.UpdateUserInfoActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.request.RequestActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.SelectProvinceActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.SelectDistrictActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.SelectWardActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.SuggestAddressActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.instant.activity.CreateSuperParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.instant.activity.ConfirmSuperParcelCreatedActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.instant.activity.ListSuperSpeedParcelsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.instant.activity.DetailSuperSpeedParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.IntroduceActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.ContactActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.InformationSecurityPolicyActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.user.activity.RegisterActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.user.activity.ChangePasswordActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.retail.activity.ListOrderRCActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.retail.activity.DetailOrderRCActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.list.ManageOrderActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.report.cod.ReportOrderActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.MaintainSystemActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.activity.SelectPostalActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.CreateInternationalParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.AddItemActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.UpdateItemActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.ListInternationalParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.CreateParcelBatchActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.DetailInternationalParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.RouteInternationalParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.RouteDeliveredInternationalParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.ListCountryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.international.activity.AddParcelBatchActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.grab.activity.RequestGrabParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.grab.activity.ConfirmGrabParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.grab.activity.ListGrabParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.grab.activity.DetailGrabParcelActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:launchMode="singleTop" android:name="com.emsportal.grab.activity.FollowDriverOnMapActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.emsportal.activity.SearchPlaceActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.emsportal.activity.SelectPlaceManualActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.emsportal.grab.activity.PolicyServiceGrabActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.emsportal.user.activity.ConfirmOtpActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.emsportal.express.activity.parcel.report.codbyday.ReportCodByDayActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <receiver android:exported="false" android:name="com.zoho.salesiqembed.android.TriggerReceiver">
            <intent-filter>
                <action android:name="MOBILISTEN_TRIGGER_RECEIVER"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zoho.livechat.android.ui.activities.SalesIQActivity" android:theme="@style/Theme.LiveChat.Base" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zoho.livechat.android.ui.activities.ArticlesActivity" android:theme="@style/Theme.LiveChat.Base" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.zoho.livechat.android.ui.activities.ChatActivity" android:theme="@style/Theme.LiveChat.Base" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <provider android:authorities="com.emsportal.livechat" android:exported="false" android:name="com.zoho.livechat.android.provider.ZohoLDContentProvider" android:writePermission="com.emsportal.permission.WRITE_SCHEDULE"/>
        <provider android:authorities="com.emsportal.siqfileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.zoho.livechat.android.provider.MobilistenFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/siq_provider_paths"/>
        </provider>
        <receiver android:name="com.zoho.livechat.android.NotificationDeleteReceiver"/>
        <activity android:exported="false" android:label="@string/places_autocomplete_label" android:name="com.google.android.libraries.places.widget.AutocompleteActivity" android:theme="@style/PlacesAutocompleteOverlay" android:windowSoftInputMode="adjustResize"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.emsportal.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <provider android:authorities="com.emsportal.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:value="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="15"/>
    </application>
</manifest>