name: Gitleaks

on:
  push:
    branches: [ main, "**" ]
  pull_request:
    branches: [ main, "**" ]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --redact --verbose
